<div class="container">
  <div class="category">
    <form action="/">
      <select class="category-dropdown" name="category" id="category" onchange="this.form.submit()">
        <option value="">類別</option>
        {{#each categories}}
        <option value="{{this._id}}" {{this.selected}}>{{this.name}}</option>
        {{/each}}
      </select>
    </form>
  </div>

  {{!-- totalAomount --}}
  <div class="total-group">
    <div class="total-text">總金額：</div>
    <div class="totalAmount">
      {{totalAmount}}
    </div>
  </div>

  <div class="expense">
    <ul>
      {{#each records}}
      <li class="expense-list">
        <div class="item-group">
          <div class="item-icon">
            <i class="{{this.category.icon}}"></i>
          </div>
          <div class="item-text">
            <h3 class="item-name">{{this.name}}</h3>
            <h6 class="item-date">{{this.date}}</h6>
          </div>
          <div class="item-amount">
            <p>{{this.amount}}</p>
          </div>
        </div>
        <div class="edit-del">
          <a href="/expenses/{{this._id}}/edit">修改</a>
          <form action="/expenses/{{this._id}}?_method=DELETE" method="POST">
            <button type="submit" class="del-btn">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
      {{!-- <li class="expense-list">
        <div class="item-group">
          <div class="item-icon">
            <i class="fa-solid fa-utensils"></i>
          </div>
          <div class="item-text">
            <h3 class="item-name">午餐</h3>
            <h6 class="item-date">2022/10/29</h6>
          </div>
          <div class="item-amount">
            <p>60</p>
          </div>
        </div>
        <div class="edit-del">
          <a href="/expenses/edit/id">修改</a>
          <a href="">刪除</a>
        </div>
      </li> --}}
    </ul>
  </div>

  <div class="add-expense">
    <a href="/expenses/new"><button class="add-btn">新增支出</button></a>
  </div>
</div>